header {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

#main {
		height: 100%;
		background: #373B44;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, hsla(340, 95%, 50%, 0.671), #373B44), url(photo-1553277004-39d655b57262.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		text-align: center;
		padding: 20px;
  		display: flex;
  		flex-direction: column;
  		text-align: justify;
  		justify-content: center;
  		align-items:center;
  		font-family:"Dancing Script";
  		color: white;
  		font-size: 90px;
  	}
	

  	#img-div {
  		margin: 0px;
  	}
  	#image {
  		
  	}
  	.bodydives {
  		margin: 0px;
  		padding: 5px;
  		flex: column;
  	}
  	#about {
  		background-color: #F2BFAC;
  		background-opacity: 10%;
  		display: flex;
  		flex-direction: column;
  	}
  	#img-caption {
  		align-items: center;
  		justify-content: center;
  		display: flex;
  		align-self: center;
  		max-width: 100%;
  		height: auto;
  		margin: auto;
  	}
  	#tribute-info {
  		font-family: "Montserrat";
  		font-size: 20px;
  		line-height: 1.5;
  	}
  	#title {
  		font-family: "Dancing Script";
  		text-align: center ;
  		font-size: 100px;
  		margin: 0px;
  	}
  	h3 {
  		font-family: "Montserrat";
  		text-align: center;
  	}
  	#tribute-link {
  		color: white;
  		text-decoration: underline;
  		font-family: "Montserrat";
  		font-size: 19px;
  		margin-left: 14px;
  	}
  	h4 {
  		font-family: "Montserrat";
  		font-size: 20px;
  		margin: 0px;
  		color: white;
  	}
  	h6 {
  		font-family: "Montserrat";
  		font-size: 20px;
  		margin: 0px
  		color: white;
  	}
  	title {
  		text-align: center;
  	}
