#main {
		width: 100%;
		height: 90%;
		background: #373B44;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, hsla(340, 95%, 50%, 0.671), #373B44), url(https://images.unsplash.com/flagged/photo-1553277004-39d655b57262?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);
		background-size: cover;
		flex: center;
	}
  	.text-align-center {
  		text-align: center;
  		color: #014034;
  		text-shadow: 2px 2px black;
  		font-family: "Satisfy";
		font-size: 100px;
  		display: flex;
  		height: 500px;
  		width: 100%;
  		align-items: center;
  		justify-content: center;
  		flex-direction: column;
  		margin-bottom: 0px;


  	}
  	#img-div {
  		margin: 0px;
  	}
  	#image {
  		
  	}
  	.bodydives {
  		margin: 0px;
  		padding: 5px;
  		flex: column;
  	}
  	#about {
  		background-color: #F2BFAC;
  		background-opacity: 10%;
  		display: flex;
  		flex-direction: column;
  	}
  	#img-caption {
  		align-items: center;
  		justify-content: center;
  		display: flex;
  		align-self: center;
  		max-width: 100%;
  		height: auto;
  		margin: auto;
  	}
  	#tribute-info {
  		font-family: "Montserrat";
  		font-size: 20px;
  		line-height: 1.5;
  	}
  	#title {
  		font-family: "Dancing Script";
  		text-align: center ;
  		font-size: 100px;
  		margin: 0px;
  	}
  	h3 {
  		font-family: "Montserrat";
  		text-align: center;
  	}
  	#tribute-link {
  		color: white;
  		text-decoration: underline;
  		font-family: "Montserrat";
  		font-size: 19px;
  		margin-left: 14px;
  	}
  	h4 {
  		font-family: "Montserrat";
  		font-size: 20px;
  		margin: 0px;
  		color: white;
  	}
  	h6 {
  		font-family: "Montserrat";
  		font-size: 20px;
  		margin: 0px
  		color: white;
  	}
